<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forecast App</title>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='styles.css') }}">
</head>

<body>
    <div class="logo-container">
        <img src="{{ url_for('static', filename='logo.jpg') }}" alt="Logo">
    </div>
    <div class="container">
        <div class="welcome-section">
            <p class="welcome-message">Halo, selamat datang di proyek kami yang bernama DeFo (Demand Forecasting)!</p>
            <p class="description">Proyek ini bertujuan untuk membuat prediksi di suatu perusahaan setiap 1 minggu dari
                sekarang. Dengan menggunakan metode prediksi canggih, kami membantu perusahaan untuk memahami tren dan
                mempersiapkan strategi yang lebih baik di masa depan.</p>
            <p class="description">Client dapat memilih untuk melihat forecast berapa minggu ke depan sesuai kebutuhan
                mereka. Dengan fleksibilitas ini, perusahaan dapat mengambil keputusan yang lebih tepat berdasarkan data
                dan analisis yang kami sediakan.</p>
            <div class="dropdown">
                <form method="POST">
                    <label for="weeks">Pilih prediksi untuk berapa minggu kedepan:</label>
                    <select id="weeks" name="periods">
                        <option value="1">1 Minggu</option>
                        <option value="3">3 Minggu</option>
                        <option value="6">6 Minggu</option>
                        <option value="9">9 Minggu</option>
                        <option value="12">12 Minggu</option>
                        <option value="15">15 Minggu</option>
                        <option value="18">18 Minggu</option>
                        <option value="21">21 Minggu</option>
                        <option value="24">24 Minggu</option>
                        <option value="27">27 Minggu</option>
                        <option value="30">30 Minggu</option>
                    </select>
                    <input type="submit" value="Predict">
                </form>
            </div>
        </div>
        
        <div class="forecast-section">
            {% if chart %}
            {{ chart | safe }}
            {% endif %}
        </div>
    </div>
</body>

</html>